[Desktop Entry]
Type=Application
Version=1.0
Name=Otto Matic
Comment=Save the Earth from the clutches of the Giant Brain from Planet X
Comment[fr]=Sauvez la Terre de l’emprise du Cerveau Géant de la Planète X
Icon=io.jor.ottomatic
Exec=OttoMatic
Terminal=false
Categories=Game;
